.main__introduction {
  height: 713px;
  padding: 50px 0px;
  background-image: url("../../../../public//images/entry-bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  text-align: center;
  letter-spacing: 2%;

  & .introduction__wrapper {
    max-width: 848px;
    margin: 0 auto;
  }

  & .introduction__article {
    display: flex;
    flex-direction: column;
    gap: 25px;

    & h2 {
      font-size: 48px;
      font-weight: 700;
      letter-spacing: 2%;
      background: radial-gradient(#cc9600, #ff7700);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    & p {
      font-size: 20px;
      color: #fff;
    }
  }
}
